body {
    padding-top: 36px;
    font-family: monospace;
    text-align: center;
    background: #000;
    color: #fff;
    /*background: #fff;
    color: #000;*/
}

.hidden {
    display: none;
}

#loading {
    font-size: 36px;
    font-weight: bold;
}

#login label, #register label {
    display: block;
    margin: 10px;
}

.section > .error {
    margin: 15px auto;
    color: #d00;
    font-size: 1.1em;
    max-width: 250px;
}
