:root {
    --foreground-color: #fff;
    --background-color: #000;
}

body {
    padding-top: 36px;
    font-family: monospace;
    text-align: center;
    background: var(--background-color);
    color: var(--foreground-color);
}

.hidden {
    display: none;
}

#loading {
    font-size: 36px;
    font-weight: bold;
}

#login label, #register label {
    display: block;
    margin: 10px;
}

.section > .error {
    margin: 15px auto;
    color: #d00;
    font-size: 1.1em;
    max-width: 250px;
}

.section > table {
    font-size: 1.1em;
    margin: 15px auto;
    border-collapse: collapse;
}

.section > table td, .section > table th {
    border: 1px solid var(--foreground-color);
}